:root{
    --brand: #8452e9;

}

@media screen and (min-width: 1200px){
    .resize-25{
        max-width: 25%;
    }

    .resize-50{
        max-width: 50%;
    }
}

body{
    background-color: var(--bs-gray-dark);
}

img{
    object-fit: fill;
}

.text-brand{
    color: var(--brand) !important;
}

.text-overflow{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.icon{
    background-color: transparent;
    border: none;
    outline: none;
    color: #b4b4b4;
}

.icon:hover{
    filter: brightness(150%);
}

.playlist:hover{
    filter: brightness(120%);
    transform: scale(1.01);
}

.edit-input{
    color: white;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.playlist-transition{
    transition: left 400ms ease-in-out;
}

.song{
    cursor: pointer;
}