:root{
    --brand: #8452e9;

}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #505050;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--bs-dark);
}

@media screen and (min-width: 1200px){
    .resize-25{
        max-width: 25%;
    }

    .resize-50{
        max-width: 50%;
    }

    .show-thumb{
        display: block !important;
    }
}

body{
    background-color: var(--bs-gray-dark);
}

img{
    object-fit: fill;
}

input[type="range"]{
    accent-color: var(--bs-gray-dark);
}

table {
    table-layout:fixed !important;
}

td{
    /* I have no idea why this prevents the col from overflowing the table but it does.
        Actual column width appears to exceeds 10px but will prevent overflow */
    max-width: 10px !important;
    vertical-align: middle;
}

.row-fade{
    animation: fade-in 250ms ease-in-out;
}

@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}

#volume{
    accent-color: var(--brand);
}

.text-brand{
    color: var(--brand) !important;
}

.text-overflow{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.text-center{
    width: 100%;
    text-align: center;
}

.icon{
    background-color: transparent;
    border: none;
    outline: none;
    color: #b4b4b4;
    transition: color 200ms
}

.icon:hover{
    filter: brightness(150%);
}

.playlist:hover{
    filter: brightness(120%);
    transform: scale(1.01);
}

.edit-input{
    color: white;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.playlist-transition{
    transition: left 400ms ease-in-out;
}

.queue-transition{
    transition: bottom 250ms ease-in-out;
}

.song{
    cursor: pointer;
}